<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Ticket Posada 2025</title>
  <style>
    /* Reutilizando tus estilos base */
    /*body {*/
    /*  font-family: Arial, sans-serif;*/
    /*  color: #333;*/
    /*  margin: 0;*/
    /*  padding: 0;*/
    /*}*/

    @page {
      margin: 0;
    }

    /* Márgenes cero para controlar todo con CSS interno */

    .container {
      padding: 40px 50px;
    }

    /*header {*/
    /*  border-bottom: 4px solid #b91c1c; !* Rojo Navideño *!*/
    /*  padding-bottom: 20px;*/
    /*  margin-bottom: 30px;*/
    /*  display: table;*/
    /*  width: 100%;*/
    /*}*/

    /*.logo-box {*/
    /*  display: table-cell;*/
    /*  vertical-align: middle;*/
    /*  width: 100px;*/
    /*}*/

    .title-box {
      display: table-cell;
      vertical-align: middle;
      text-align: right;
    }

    /*h1 {*/
    /*  color: #b91c1c;*/
    /*  font-size: 24px;*/
    /*  margin: 0;*/
    /*  text-transform: uppercase;*/
    /*}*/

    /*h2 {*/
    /*  color: #555;*/
    /*  font-size: 16px;*/
    /*  margin: 5px 0 0;*/
    /*  font-weight: normal;*/
    /*}*/

    .ticket-info {
      background-color: #f8f9fa;
      border: 1px solid #ddd;
      padding: 20px;
      margin-bottom: 30px;
      border-radius: 8px;
    }

    .row {
      margin-bottom: 15px;
      border-bottom: 1px dashed #ccc;
      padding-bottom: 5px;
    }

    .row:last-child {
      border-bottom: none;
    }

    .label {
      font-weight: bold;
      color: #b91c1c;
      font-size: 14px;
      width: 150px;
      display: inline-block;
    }

    .value {
      font-size: 16px;
      color: #000;
    }

    .details-box {
      margin-top: 20px;
      padding: 15px;
      background-color: #fff3cd; /* Amarillo suave */
      border-left: 5px solid #ffc107;
    }

    .signature-section {
      margin-top: 80px;
      text-align: center;
    }

    .signature-line {
      border-top: 1px solid #000;
      width: 60%;
      margin: 0 auto 10px;
    }

    .hash {
      font-family: 'Courier New', monospace;
      font-size: 10px;
      color: #777;
      margin-top: 10px;
      word-break: break-all;
    }

    /*footer
    {*/
        /*  position: fixed; bottom: 0; left: 0; right: 0;*/
        /*  background: #b91c1c; color: white;*/
        /*  text-align: center; padding: 10px; font-size: 12px;*/
        /*} */


    * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }

    @page {
      size: letter;
    }

    body {
      font-family: Arial, sans-serif;
      line-height: 1.25;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    header {
      position: fixed;
      color: #95838f;
      position: relative;
      padding-top: .27in;
      padding-bottom: 5px;
      margin: .2in 1in .2in;
      border-bottom: 3px solid #95838f;
    }

    main {
      margin: 0 1in 0;
    }

    .logo {
      display: inline;
      position: absolute;
      width: 80px;
      height: 80px;
      left: .1in;
      top: .12in;
      border-radius: 99999px;
    }

    .header-title {
      display: inline;
      text-align: right;
      padding-bottom: 10px;
    }

    .header-title h1 {
      font-size: 1.5em;
      font-weight: bold;
      margin: 0;
    }

    .header-title h2 {
      font-size: 1.5em;
      font-weight: normal;
      margin: 0;
    }

    .oficio-info {
      text-align: right;
      margin-top: 15px;
      display: inline;
    }

    .oficio-info p {
      margin: 3px 0;
      font-size: 0.9em;
    }

    .oficio-infos-container {
      padding-bottom: 15px;
    }

    .addressee {
      margin-top: 30px;
      margin-bottom: 25px;
      display: inline;
    }

    .addressee p {
      margin: 0;
      font-size: 1em;
      font-weight: bold;
    }

    .addressee .presente {
      margin-top: 10px;
      font-weight: normal;
      letter-spacing: 2px; /* P r e s e n t e . */
    }

    .body-text {
      text-align: justify;
      margin-bottom: 20px;
    }

    .petition-lines p {
      margin: 5px 0;
      display: flex;
      align-items: center;
    }

    .petition-lines {
      margin-left: 20px;
    }

    .line {
      flex-grow: 1;
      border-bottom: 1px solid #000;
      margin-left: 15px;
      height: 1em;
    }

    .closing-paragraph {
      margin-top: 25px;
      text-align: justify;
    }

    .signature-block {
      text-align: center;
      margin-top: 40px;
    }

    .signature-block p {
      margin: 0;
    }

    .identificacion {
      display: inline-block;
      padding-top: 5px;
    }

    .sello {
      padding-top: 20px;
    }

    .sello span {
      font-size: .8em;
      display: block;
      margin-top: 5px;
      font-weight: bold;
    }

    .signature-block .atentamente {
      letter-spacing: 3px; /* A t e n t a m e n t e */
      margin-bottom: 40px; /* Espacio para la firma */
    }

    .cc-info {
      margin-top: 50px;
      font-size: 0.8em;
    }

    .cc-info p {
      margin: 2px 0;
      font-weight: bold;
    }

    .page-footer {
      position: fixed;
      bottom: .25in; /* Alineado con el padding */
      left: .5in;
      right: .5in;
      border-top: 5px solid #642828;
      padding-top: 5px;
      font-size: 0.75em;
      text-align: center;
      color: #642828;
    }

    .page-footer p {
      margin: 2px 0;
    }
  </style>
</head>
<body>

<header>

  <img src="https://siutitsm.com.mx/assets/images/logo.jpg" class="logo" height="80px" width="80px" alt="Logo">


  <div class="header-title">
    <h1>SINDICATO ÚNICO DE TRABAJADORES</h1>
    <h2>del Instituto Tecnológico Superior de Macuspana</h2>
  </div>

</header>
<div class="container">
  {*  <header>*}
{*    <div class="logo-box">*}
{*      <img src="https://siutitsm.com.mx/assets/images/logo.jpg" width="80" alt="Logo">*}
{*    </div>*}
{*    <div class="title-box">*}
{*      <h1>Posada Navideña 2025</h1>*}
{*      <h2>Comprobante Oficial de Registro</h2>*}
{*    </div>*}
{*  </header>*}


  <div class="ticket-info">
      <div class="row">
        <span class="label">Participante:</span>
        <span class="value">{$p['nombre']|upper}</span>
      </div>
      <div class="row">
        <span class="label">Área:</span>
        <span class="value">{$p['area']}</span>
      </div>
      <div class="row">
        <span class="label">Género:</span>
        <span class="value">{$p['genero']|firstUpper}</span>
      </div>
      <div class="row">
        <span class="label">Categoría Inscrita:</span>
        <span class="value" style="font-size: 1.2em; font-weight: bold;">
                {if $p['evento'] == 'canto'}Concurso de Canto{/if}
                {if $p['evento'] == 'baile'}Concurso de Baile{/if}
                {if $p['evento'] == 'yardas'}Concurso de Yardas{/if}
            </span>
      </div>
  </div>

  {if $p['evento'] != 'yardas'}
    <div class="details-box">
      <strong>Detalles del Concurso:</strong><br>
      {$p['cancion']}
    </div>
  {/if}

  <div style="margin-top: 40px; text-align: justify; font-size: 14px; color: #555;">
    <p>Este documento certifica su registro en el sistema para la Posada Navideña 2025.

{*      Deberá presentarse 30 minutos antes del inicio del evento para confirmar su participación.*}

    </p>
    <p>Fecha de emisión: {$fecha_impresion}</p>
  </div>

  <div class="signature-section">
    <div class="hash" style="margin-bottom: 10px">FOLIO DIGITAL: {$firma}</div>
    <div class="signature-line"></div>
    <strong>Firma del Comité Organizador</strong>
  </div>
</div>

<footer class="page-footer">
  <p>Av. Tecnológico S/N, Lerdo de Tejada 1ª Sección [86715] Macuspana, Tabasco, México. | A un costado del Edificio
    C</p>
  <p>Móvil: 993-263-6598 • 936-111-1037 • 936-101-8249 | E-mail: sindicato_siutitsm@outlook.com |
    www.siutitsm.com.mx</p>
</footer>


</body>
</html>