DB_HOST=localhost
DB_PORT=3306
DB_NAME=ost_siut
DB_USER=root
DB_PASS=
DB_PASSWORD=


MAIL_USER=contacto@siutitsm.com.mx
MAIL_NAME=SIUTITSM
MAIL_PASSWORD=
MAIL_HOST=mail.siutitsm.com.mx
MAIL_PORT=465
MAILER_USER=contacto@siutitsm.com.mx
MAILER_PASSWORD=
MAILER_HOST=mail.siutitsm.com.mx
MAILER_PORT=465

#MAIL_ADMIN=Sindicato_SIUTITSM@outlook.com
MAIL_ADMIN=martin.msr1304@gmail.com

BASE_URL=http://localhost


APP_ENV=dev