DB_HOST=localhost
DB_NAME=database_name
DB_USER=username
DB_PASSWORD=password
DB_PORT=3306

MAILER_HOST=smtp.example.com
MAILER_USER=example@mail.com
MAILER_PASSWORD=password
MAILER_PORT=465
MAILER_FROM_ADDRESS=example@mail.com
MAILER_FROM_NAME=SIUTITSM
MAILER_ADMIN_NOTIFICATIONS=admin@mail.com

APP_ENV=dev

BASE_URL=http://localhost