{layout ./plantillas/@layout.latte}

{var $linkActivo = 'avisos'}

{block content}
  <section class="section">
    <div class="container pt-5" data-aos-delay="0" data-aos="fade-up">
      <h1 class="text-uppercase fw-bold">
        Avisos
      </h1>
      <p>Esta es la página de avisos.</p>
    </div>
  </section>
{/block}