{layout ./plantillas/@layout.latte}


{block content}
  <section class="section">
    <div class="container pt-5" data-aos="fade-up" data-aos-delay="0">
      <h1  class="text-uppercase fw-bold">
        Formatos
      </h1>
      <p>Esta es la página de formatos.</p>
    </div>
  </section>
{/block}