{layout ./plantillas/@layout.latte}

{var $linkActivo = 'inicio'}

{block content}
  {include ./plantillas/index.hero.latte}
  {include ./plantillas/index.gestiones.latte}
  {include ./plantillas/index.contacto.latte}
{/block}

