{layout ./plantillas/@layout.latte}

{block content}
  <section class="about__v4 section" id="about">
    <div class="container pt-5">
      <h1 class="display-4">404 - Página No Encontrada</h1>
      <p class="lead">Lo sentimos, la página que buscas no existe.</p>
      <a href="/" class="btn btn-primary">Volver al Inicio</a>
    </div>
  </section>
{/block}