{extends ../../../templates/@portal.latte}

{block main}
<div class="container-fluid py-4">
	{include '../../../templates/components/header-page.latte',
		title: 'Revisión de préstamos',
		description: '',
		icon: 'bi-clipboard2-check'
	}

	<div id="loan-review-root">
	Cargando...
	</div>

{/block}


{block scripts}
{include parent}

{vite("src/prestamo.tsx")|noescape}
{/block}