{layout ../plantillas/_layout.latte}

{block content}

  <h1>
    Solicitudes de Préstamos
  </h1>
  <div class="alert alert-danger" role="alert">
    Actualmente no se encuentran solicitudes de préstamos.
  </div>

{/block}