<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PAGARE</title>
  <style>
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    html, body {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 11px;
    }

    .container-children {
      border-bottom: 1px dotted #000;
    }
  </style>
</head>
<body class="container-main">

<div class="container-children">
  <div class="hijo">
    {include ./pagare-document.formato.latte}
  </div>
</div>

<div class="container-children">
  <div class="hijo">
    {include ./pagare-document.formato.latte}
  </div>
</div>

<div class="container-children">
  <div class="hijo">
    {include ./pagare-document.formato.latte}
  </div>
</div>

</body>

</html>