{extends ../templates/@landing.latte}


{block main}
  <div class="container py-5">
    {include
      ../templates/components/header-page.latte,
      title => 'Simulador de Préstamo Caja de Ahorro',
      description => "Ingresa el monto del préstamo para obtener una estimación de tus pagos futuros.",
      icon => 'bi-calculator'
    }
    <div id="simulador-root"></div>
  </div>
{/block}

{block scripts}
  {vite("src/simulador.tsx")|noescape}
{/block}