<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Reporte de agremiados</title>

  <style>
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: Arial, sans-serif;
      font-size: 11px;
      line-height: 1.25;
      color: #000;
      padding: 1.25in 1in .75in;
    }

    /* HEADER FIJO */
    header {
      top: 0;
      left: 0;
      right: 0;
      position: fixed;
      color: #95838f;
      padding-top: .27in;
      padding-bottom: 5px;
      margin: .2in .5in .2in;
      border-bottom: 3px solid #95838f;
    }

    header .logo {
      display: inline;
      position: absolute;
      width: 80px;
      height: 80px;
      left: .1in;
      top: -0.1in;
      border-radius: 99999px;
    }

    header .header-title {
      display: inline;
      text-align: right;
      padding-bottom: 10px;
    }

    header .header-title h1 {
      font-size: 2em;
      font-weight: bold;
      margin: 0;
    }

    header .header-title h2 {
      font-size: 1.5em;
      font-weight: normal;
      margin: 0;
    }

    /* FOOTER FIJO */
    footer {
      position: fixed;
      bottom: .25in; /* Alineado con el padding */
      left: .5in;
      right: .5in;
      border-top: 5px solid #642828;
      padding-top: 5px;
      font-size: 0.75em;
      text-align: center;
      color: #642828;
    }


    /* TABLA DE DATOS */
    table {
      width: 100%;
      border-collapse: collapse;
      font-size: 10px;
      table-layout: fixed;
    }

    thead {
      background-color: #f0f0f0;
      display: table-header-group; /* para repetir en cada página */
    }

    thead th {
      border: 1px solid #999;
      padding: 6px;
      text-align: left;
      font-weight: bold;
    }

    tbody td {
      border: 1px solid #999;
      padding: 6px;
      vertical-align: top;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }

    tbody tr:nth-child(even) {
      background-color: #fafafa;
    }

    tr {
      page-break-inside: avoid;
    }

    /* COLUMNAS */
    th:nth-child(1), td:nth-child(1) {
      width: 6%;
    }

    th:nth-child(2), td:nth-child(2) {
      width: 18%;
    }

    th:nth-child(3), td:nth-child(3) {
      width: 24%;
    }

    th:nth-child(4), td:nth-child(4) {
      width: 20%;
    }

    th:nth-child(5), td:nth-child(5) {
      width: 16%;
    }

    th:nth-child(6), td:nth-child(6) {
      width: 16%;
    }

    .info {
      margin-top: 20px;
      font-size: 0.85em;
      color: #555;
    }


    .description p {
      margin: 4px 0;
      font-size: 1.25em;
    }

    .container-descriptions {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
    }

    /* MAIN: no margin-top, DomPDF respeta @page
    main {
    }

    .container {
      margin: 1in .25in;
      page-break-before: always;
    }

    .container:first-of-type {
      margin: 1in .25in;
      page-break-before: auto;
    } */
  </style>
</head>
<body>

<header>
  <img src="https://siutitsm.com.mx/assets/images/logo.jpg" class="logo" alt="Logo">
  <div class="header-title">
    <h1>SINDICATO ÚNICO DE TRABAJADORES</h1>
    <h2>del Instituto Tecnológico Superior de Macuspana</h2>
  </div>
</header>

<footer>
  <p>Av. Tecnológico S/N, Lerdo de Tejada 1ª Sección [86715] Macuspana, Tabasco, México.</p>
  <p>Móvil: 993-263-6598 • 936-111-1037 • 936-101-8249 | E-mail: sindicato_siutitsm@outlook.com</p>
  <p>www.siutitsm.com.mx</p>
</footer>

<main class="container">
  <h2 style="text-align: center; font-size: 2.5em; color: #2a2828; margin-bottom: 10px">
    Corrida Financiera de la Caja de Ahorro SIUT-ITSM
  </h2>

  <div class="container-descriptions">
    <div class="description">
      <p><strong>Solicito:</strong> {$prestamo['miembro']['nombre']} {$prestamo['miembro']['apellidos']}</p>
      <p><strong>Monto solicitado:</strong> {$prestamo['monto_aprobado']}</p>
      <p><strong>Plazo (meses):</strong> {$prestamo['plazo_meses']}</p>
      <p><strong>Tasa de interés mensual (%):</strong> {$prestamo['tasa_interes']}</p>
    </div>
    <div class="description">
      <p>
        <strong>Total Interés</strong> {$totales['total_interes']}
      </p>
      <p>
        <strong>Total a pagar</strong> {$totales['total_pago']}
      </p>
    </div>
  </div>

  <table>
    <thead>
    <tr>
      <th>Mes</th>
      <th>Costo Fijo</th>
      <th>Interés Mensual</th>
      <th>Pago Mensual</th>
      <th>Saldo Final Mes</th>
      <th>Fecha</th>

    </tr>
    </thead>
    <tbody>
    {foreach $tabla_amortizacion as $fila}
      <tr>
        <td>{$fila['mes']}</td>
        <td>{$fila['costo_fijo']}</td>
        <td>{$fila['interes_mes']}</td>
        <td>{$fila['pago_mes']}</td>
        <td>{$fila['saldo_final_mes']}</td>
        <td>{$fila['fecha']}</td>
      </tr>
    {/foreach}
    </tbody>
  </table>

  <div class="info">
    <p>
      Fecha de generación del reporte: {date('d/m/Y H:i:s')}
    </p>
    <p>
      Fecha respuesta: {$prestamo['fecha_respuesta']|date:'d/m/Y'}
    </p>
  </div>
  <p>
    {$sello}
  </p>
</main>

</body>
</html>
