<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {block titulo}Sindicato Único de Trabajadores del Instituto Tecnológico Superior de Macuspana{/block}
    | OST-SIUT-ITSM
  </title>
  <meta name="description"
        content="Sindicato Único de Trabajadores del Instituto Tecnológico Superior de Macuspana. Noticias, gestiones, transparencia y recursos para la gran familia sindical.">
  <meta name="keywords"
        content="Sindicato, ITSM, Macuspana, Trabajadores, Noticias, Gestiones, Transparencia, Recursos, Tabasco">
  <meta name="author" content="Sindicato Único de Trabajadores del ITSM">
  <meta property="og:title" content="Sindicato Único de Trabajadores del Instituto Tecnológico Superior de Macuspana">
  <meta property="og:description"
        content="La gran familia sindical del ITSM. Información, gestiones y recursos para los trabajadores.">
  <meta property="og:image" content="/assets/images/logo.png">
  <meta property="og:url" content="https://www.siutitsm.com.mx/">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Sindicato Único de Trabajadores del ITSM">
  <meta name="twitter:description" content="Noticias, gestiones y recursos para los trabajadores del ITSM.">
  <meta name="twitter:image" content="/assets/images/logo.png">
  <link rel="canonical" href="https://www.sindicatostitsm.com/">
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">

  <!-- ======= Google Font =======-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&amp;display=swap" rel="stylesheet">
  <!-- End Google Font-->

  <!-- ======= Styles =======-->
  <link href="/assets/vendors/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendors/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
  <link href="/assets/vendors/glightbox/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendors/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/assets/vendors/aos/aos.css" rel="stylesheet">
  <!-- End Styles-->

  <!-- ======= Theme Style =======-->
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/assets/css/colors.php" rel="stylesheet">
  <!-- End Theme Style-->

  {block head}{/block}

  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

  <!-- ======= Apply theme =======-->
  <script>
    // Apply the theme as early as possible to avoid flicker
    (function () {
      const storedTheme = localStorage.getItem('theme') || 'light';
      document.documentElement.setAttribute('data-bs-theme', storedTheme);
    })();
  </script>
</head>

<body>

{block base_content}
  Contenido
{/block}

  <!-- ======= Javascripts =======-->
<script src="/assets/vendors/bootstrap/bootstrap.bundle.min.js"></script>

<script src="/assets/vendors/gsap/gsap.min.js"></script>

<script src="/assets/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>

<script src="/assets/vendors/isotope/isotope.pkgd.min.js"></script>

<script src="/assets/vendors/glightbox/glightbox.min.js"></script>

<script src="/assets/vendors/swiper/swiper-bundle.min.js"></script>

<script src="/assets/vendors/aos/aos.js"></script>

<script src="/assets/vendors/purecounter/purecounter.js"></script>
{block script}{/block}
<!-- End JavaScripts-->
</body>

</html>