<div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="{$idx * 100}">
  <div class="rounded-4 p-4 border">
    <a href="{$enlace}" class="text-decoration-none text-dark">
      <h3>
        {$titulo}
      </h3>
      <blockquote class="mb-3">
        {$descripcion}
      </blockquote>
    </a>
  </div>
</div>