{layout _layout.latte}

{var $linkActivo = 'gestiones'}

{block content}
  <section class="section">
    <div class="container pt-5" data-aos="fade-up" data-aos-delay="0">
      <h1  class="text-uppercase fw-bold">
        Gestiones
      </h1>
      <p>Esta es la página de gestiones.</p>
    </div>
  </section>
{/block}