{layout _layout.latte}

{var $linkActivo = 'noticias'}

{block content}
  <section class="section">
    <div class="container pt-5">
      <h1 data-aos="fade-up" data-aos-delay="0" class="text-uppercase fw-bold">
        Noticias
      </h1>
      <p>Esta es la página de noticias.</p>
    </div>
  </section>
{/block}